<!DOCTYPE html>
    <!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
    <!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Onlinespaces Bootstrap{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="author" href="humans.txt" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/css/normalize.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/vendors.min.css'|asset_version) }}" />
            <link rel="stylesheet" href="{{ asset('public/css/main.min.css'|asset_version) }}" />
        {% endblock %}
        {% block header_javascripts %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('public/js/modernizr-respond.min.js'|asset_version) }}"></script>
    </head>
    <body>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '{{ facebook_app_id }}',
              xfbml      : true,
              version    : 'v2.5'
            });
          };
        
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>    
        <div id="top-navbar" class="container">
            {% include 'AppBundle:Navigation:_top_navigation.html.twig' %}
        </div>
        {% block body %}{% endblock %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div
                        class="fb-like"
                        data-share="true"
                        data-width="450"
                        data-show-faces="true">
                    </div>
                </div>
            </div>
        </div>
        <footer class="container">
            <p class="pull-right">Copyright &copy; 2015 <a href="http://www.onlinespaces.com" target="_blank">Onlinespaces</a></p>
        </footer>
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ asset('public/js/jquery.min.js') }}"><\/script>')</script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('public/js/vendors.min.js'|asset_version) }}"></script>
            <script type="text/javascript" src="{{ asset('public/js/plugins.min.js'|asset_version) }}"></script>
            <script type="text/javascript" src="{{ asset('public/js/main.min.js'|asset_version) }}"></script>
        {% endblock %}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ google_site_id }}','auto');ga('send','pageview');
        </script>
    </body>
</html>